$hover_color: rgb(195, 0, 255);

.block_centering{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.interstate_image {
    table {
        margin: 0 auto;
    }
    
    img {
        @extend .block_centering;
        height: 100%;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
}

.interstate_icon img:hover{
    background-color: $hover_color;
 }

 .interstate_icon img{
    @extend .block_centering;
    width: 60px;
    padding: 6px;
 }

 .interstate_image_header {
    @extend .block_centering;
    width: 90%;
}

@media only screen and (max-width: 800px) {
    .interstate_icon img {
    width: 40px;
    }
    .interstate_image_header{
        width: 80px;
    }
}

#interstate_grid{
    @extend .block_centering;
    width: 90%;
}

h3{
    text-align: center;
}

#page_header_text{
    text-align: center;
}

.shield:hover {
    background-color: $hover_color;
}

.shield {
    height: 80px;
}

.large_vertical_Space {
    line-height: 20px;
 }

table {
    border: 1px solid black;
    border-collapse:collapse;
}

tr>td{
    border: 1px solid black;
    font-size: 20px;
    padding: 5px;

}

tr>th{
    border: 1px solid black;
    font-size: 25px;
    padding: 15px;

}

 .small_vertical_Space {
    line-height: 10px;
 }

.state_map {
    width: 100%;
}

